/* add border box! */
html, body {
    box-sizing: border-box;
    
}

#headerbar {
    display: flex;
    position: fixed;
    z-index: 5;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: white;
    
}

#headleft {
    display: inline-flex;
    align-items: center;
    margin-left: 1.5rem;
}


#colacao p {
    display: inline-flex;
    align-items: center;
    }

#academy {
    color: grey;
    margin-left: -0.25rem;
}

#navlinks {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1.5rem;
    height: auto;
    gap: 1rem;
}

#navlinks a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: dotted;
    

}


/* Footer */

#footer {
    display: inline-flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
}

#copyright {
    color: grey;
    margin-left: 1.5rem;

}

#footerlinks {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 1rem;
}

#footerlinks a {
    justify-content: flex-end;
    text-decoration: none;
}