/* add border box! */
html, body {
    box-sizing: border-box;
    
}

/* Header and Nav bar */

#headerbar {
    display: flex;
    position: fixed;
    z-index: 5;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-top: -0.5rem;
    background-color: white;
    /* margin-left: -1rem; */
    /* margin-right: 1rem; */
    
}

#headleft {
    display: inline-flex;
    align-items: center;
    margin-left: 1.5rem;
}


#colacao p {
    display: inline-flex;
    align-items: center;
    }

#academy {
    color: grey;
    margin-left: -0.25rem;
}

#navlinks {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1.5rem;
    height: auto;
    gap: 1rem;
}

#navlinks a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: dotted;
    }


/* 
=========
========= Learn SECTION
=========
*/

.section {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 4rem;
}

.imgandtext {
    display: inline-flex;
}


#learn {
    display: inline-flex;
    background-color: rgb(211, 202, 202);
}

#learncontents {
    display: inline-flex;
    }

#learning-students img {
width: 80%;
height: auto;
object-fit: contain;
padding: 2rem 1.5rem;
}

#learnright {
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    color: rgb(54, 54, 54);
    
}
#wecan {
    font-size: 1.6rem;
}

h1 {
    font-size: 3rem;
}

#startbutton {
    background-color: rgb(59, 59, 59);
    color: rgb(212, 211, 211);
    padding: 0.5rem 4rem;
    border: none;
    border-radius: 2px;
}


 /* 
 ========
 ========Footer
 ========
  */

#footer {
    display: inline-flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
}

#copyright {
    color: grey;
    margin-left: 1.5rem;

}

#footerlinks {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 1rem;
}

#footerlinks a {
    justify-content: flex-end;
    text-decoration: none;
}